html{
    font-size: 62.5%;
}

body{
    background: url(../images/bg-desktop.svg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #674baf;
    font-family: 'Open Sans', sans-serif ;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 90px 30px 79px;
}

.header h1{
    display: flex;
    align-self: flex-start;
}

.main{
    display: flex;
    align-items: center;
}

.main .img-principal{
    width: 55%;
}

.main .img-principal .mockup{
    width: 100%;
}

.main .info{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    width: 900px;
}

.main .info h2{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    padding: 15px 0;
}

.main .info p{
    font-size: 2rem;
    padding: 20px 0;
}

.main .info .btn-registrar{
    font-size: 2rem;
    font-weight: 500;
    background-color: #fff;
    color: #674baf;
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
    padding: 20px 90px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: .3s;
}

.main .info .btn-registrar:hover{
    background-color: #e882e8;
    color: #fff;
}

.footer .social{
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    gap: 15px;
}

.footer .social a i{
    border: solid 2px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    align-self: center;
}

.footer .social i:hover{
    color: #e882e8;
}